# Ignore Python venvs
venv/
.venv/
*.pyc
__pycache__/

# Ignore environment variable files
*.env

# Ignore AWS & credential files
credentials
**/*secret*

# OS and editor artifacts
.DS_Store
*.swp
.idea/
.vscode/
Thumbs.db

# my Notes
*notes*

# WSL Zone.Identifier files
*Zone.Identifier*

# Terraform state and plan files
*.tfstate
*.tfstate.backup
tfplan

# Local test artifacts
lambda/terraform.tfstate

