# Ignore Python venvs
venv/
.venv/
*.pyc
__pycache__/

# Ignore environment variable files
*.env

# Ignore AWS & credential files
credentials
**/*secret*

# Ignore OS junk
.DS_Store
Thumbs.db

# my Notes
*notes*

# WSL Zone.Identifier files
*Zone.Identifier*
